

<div class="container">
 <div class="row">
 	<div class="col-lg-4" >
	 <div class="top-text">
	 	<h1>
	 		Welcome to Bookers!
	 	</h1>
 		</div>
 	</div>
 </div>
</div>



<div class="row">
		<div class="col-lg-8">
			<div class="footer-text">CopyRight Infratop.inc</div>
		</div>
	</div>
</html>

